/**********/
/* MACROS */
/**********/

.linearGradient(@color1:#ccc, @color2:#ddd) {
  background-image:-webkit-gradient(linear, left bottom, left top, color-stop(0, @color1), color-stop(100%, @color2));
  background-image:-moz-linear-gradient(center bottom, @color1 0, @color2 100%);
  background-image:-o-linear-gradient(center bottom, @color1 0, @color2 100%);
  background-image:linear-gradient(center bottom, @color1 0, @color2 100%);
  background-color: @color1;
}

/********************/
/* GENERAL ELEMENTS */
/********************/
a,a:visited { text-decoration: none; color: white; }
.category { width: 100%; }


/* QUICKFIX */
a { color: red !important; }

/******************/
/* PAGE STRUCTURE */
/******************/*
body { background: black; min-height: 100%; }
nav, html[data-resource=menu] { display: none; } /* not supported in this UI */

/***********************************/
/* MAIN (CATEGORY AND STORY) STATE */
/***********************************/

.categories {

  width: 100%;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  -webkit-box-align: start; 

  .category { height: 100%; }
  img.large { display: none; }
  section.category > h2 { padding: 1em 2em; background: red; }

  article { position: relative; overflow: hidden; }
  /* article h1 { font-weight: bold; position: absolute; top: 0.4em; left: 6em; } */
  article header h1 a, .summary { display: none; }
  article section h1 { font-weight: bold; margin: 0 1em 1em 100px; }
  img.thumbnail { float: left; width: 70px; height: 42px; margin-left: 20px; }

  article {
    .linearGradient(#000,#333); color: white; 
    padding: 1.5em 0 1em;
    width: 100%; 
    border-bottom: 1px solid #777;
    min-height: 1.5em;

    footer { display: none; }

  }

  h3 {
    display: inline;
    padding: 0.5em;
    height: 1.5em;
    overflow: hidden;
    cursor: pointer;
    background: orange; 
    padding: 0.5em;
    border-radius: 2em;
  }

}


/******************/
/* STORY STATE */
/******************/*
.articleState article.active .story { clear: left; display: block; padding: 0.5em 1em 1em 20px; }
.story { display: none; 
  p { margin-top: 0.5em; }
}

/*****************************/
/* REFRESHING/LOADING STATES */
/*****************************/
.refreshing article { color: #666; }
.loadingArticle article.active { color: #666; }
