html, body { margin: 0; padding: 0; background: black; overflow: hidden; }
body > div { overflow: hidden; }
ul { list-style-type: none; }
.menu { display: none; }
.categories { background: black; height: 100%; }
.category { background: pink; width: 15em; float: left; margin: 1em 1em; cursor: pointer; opacity: 0.5; left: -35%; }
.category:hover { opacity: 1; }
.category.active { opacity: 1; }
.category img { display: block; }
.category.active img { display: inline ; }
.story { background: orange; z-index: 1; width: 55%; top: 0; left: 100%; height: 100%; }

html.menuState .categories { width: 100%; height: 100%; }

html.storyState .categories, html.categoryState .categories { margin-left: 35%; width: 65%; }
.category.active { position: absolute; left: 0; width: 35%; margin: 0; height: 100%; }

.category.active { left: 0; width: 35%; }

html.storyState .story { position: absolute; z-index: 2; left: 45%; }

.storyState .category, .categoryState .category { /* don't animate when category already active. This would be more clearly stated as a sibling selector of .category.active */
  left: 0;
}
.storyState .category, .categoryState .category, .story {
  -webkit-transition-property: left;
  -moz-transition-property: left;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
 }


html { font-family: sans-serif; }
a,a:visited { text-decoration: none; color: white; }
h1 { margin-bottom: 1em; }

.category {
  border-radius: 20px;
  padding: 20px;

  background-color: #444444;
  background-image: -moz-linear-gradient(top, #444444, #999999); /* FF3.6 */
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #444444),color-stop(1, #999999)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(#444444, #999999); /* Chrome 10+, Saf6 */
  background-image: linear-gradient(top, #444444, #999999);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#444444', EndColorStr='#999999');
}

.category.active {
  border-radius: 0;
  padding: 0;

  background-color: #49f49f;
  background-image: -moz-linear-gradient(top, #49f49f, #ffffff); /* FF3.6 */
  background-image: -webkit-gradient(linear,left top,left bottom,color-stop(0, #49f49f),color-stop(1, #ffffff)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(#49f49f, #ffffff); /* Chrome 10+, Saf6 */
  background-image: linear-gradient(top, #49f49f, #ffffff);
            filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#49f49f', EndColorStr='#ffffff'); /* IE6–IE9 */
}
