@headerWidth: 150px;
@thumbnailWidth: 390px;
@thumbnailHeight: 234px;
@summaryHeight: 60px;

body {
  background-color: @bgcolor5;
  color: white;
  overflow: hidden;

  > header {
    position: absolute;
    z-index: 1000;
    left: 0;
    top: 0;
    bottom: 0;
    color: white;
    background-color: @bgcolor4;
    box-shadow: 0px 0px 10px @bgcolor4;
    width: @headerWidth;

    h1 {
      font-family: 'Droid Sans';
      font-size: 2em;
      position: absolute;
      -webkit-transform: rotate(90deg);
      display: inline;
      bottom: 80px;
      color: @bgcolor4 - #111;
      text-shadow: 0px 1px 0px rgba(255,255,255,.3), 0px -1px 0px rgba(0,0,0,.7); 
    }
  
    p {
      font-family: 'Droid Sans';
      font-size: 1em;
      position: absolute;
      bottom: 0;
      display: none;
    }
  }
  
  footer#formfactors {
    z-index: 1001;
    position: absolute;
    bottom: 0;

    a {
      display: block;
      -webkit-transition: all 0.2s ease-in-out; 
      border-bottom: solid 1px @bgcolor4 - #111;   
      padding: 5px;
      font-family: Arial, serif; 
      color: @color4;
      text-decoration: none;
      font-size: 0.8em;
    
      &:hover {
        background-color: @bgcolor4 - #111;
        padding-left: 10px;
      }

      &.active {
        background-color: @bgcolor4 - #222;
        padding-left: 10px;
      }
    }
  }
      

  ul li {
    -webkit-transition: all 0.2s ease-in-out; 
    border-bottom: solid 1px @bgcolor4 - #111;   
    padding: 5px;
    a {
     font-family: Arial, serif; 
     color: @color4;
     text-decoration: none;
    }

    &:hover {
      background-color: @bgcolor4 - #111;
      padding-left: 10px;
    }

      
    &.active {
      background-color: @bgcolor4 - #222;
      padding-left: 10px;
    }
  }
}

.categories {
  margin-left: @headerWidth + 20px;
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  overflow: hidden;
 
  .category {
    background-color: @bgcolor3;
    margin-top: 10px;
    margin-left: 10px;
    width: 400px;
    -webkit-transition: all 0.2s ease-in-out; 
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    &.active{
      box-shadow: 0px 0px 10px #fff;
      .articles {
        background-color: @bgcolor2;
      }
    }

    > h2 {
      border-top-right-radius: 10px;
      border-top-left-radius: 10px;
      padding: 5px;
      font-size: 1.6em;
      background-color: @bgcolor2;
      color: white;
      font-family: Arial, serif; 
    }

    .articles {
      box-sizing: border-box;
      padding: 5px;


      article {
        header {
          position: relative;
          h1 {
            font-size: 1.6em;
            position:absolute;
            padding: 5px;
            box-sizing: border-box;
            background-color: @bgcolor1;
            color: white;
            bottom: @summaryHeight;
            font-family: Arial, serif; 
            max-width: 80%;
            margin-bottom: 5px;
            right: 0; 
            z-index:1000;
            a {
              color: white;
              text-decoration: none;
            }
          }
      
          img.thumbnail {
            width: @thumbnailWidth;
            height: @thumbnailHeight;
          }
        
          img.thumbnail.hi-res {
            position: absolute;
            opacity: 0;
            -webkit-transition: opacity 1s linear;
          }
    
          img.thumbnail.fadein {
            opacity: 1;
          }

          .summary {
            padding: 5px;
            font-size: 1.0em;
            width: 100%;
            box-sizing: border-box;
            background-color: rgba(0,0,0,0.5);
            max-height: @summaryHeight;
            font-family: 'Droid Sans';
          }
        }
 
        section {
          -webkit-transition: left 0.2s ease-in-out;
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          left: 100%;
          opacity: 1;
          z-index:1000;
          background-color: white;
          box-shadow: 0px 0px 20px black;  
          border-top-left-radius: 10px;
          border-bottom-left-radius: 10px; 
          overflow: hidden;
          color: black;
          margin: 10px 0 10px 0;            
        }

        footer {
         display:none;
        }

        &.active {
          z-index: 1000;
          
          section {
           left: 50%; 
            
            h1 {
              position: absolute;
              top: 0;
              right: 0;
              left: 0;
              margin: 10px;
              padding: 5px;
              font-size: 2em;
              text-shadow: @engrave;
              color: transparent; 
              -webkit-transition: all 0.2s ease-in-out; 

              &:hover {
                background-color: rgba(255,255,255, 0.8);
                color: black;
               
              }
            }

            .summary {
              display:none;
            }
  
            .large {
              display: block;
              width: 100%;
              border-top-left-radius: 10px;
            }

            .story {
              padding: 5px;
              font-family: 'Droid Sans';
              font-size: 1em;
              line-height: 1.2em;
              overflow: hidden;
           
              p {
                margin-bottom: 5px;
              }
            }
          }
        }
      }
    }
  }
}
