@bg: #B63535;
@bgdark: #861c1c;

@bgcolor1: #BAB293 ;
@color1: white; // font

@bgcolor2: #A39770 ;
@color2: white; // font

@bgcolor3: #EFE4BD ;
@color3: white; // font

@bgcolor4: #A32500 ;
@color4: white; // font

@bgcolor5: #2B2922;
@color5: white;

@engrave: 0px 1px 0px rgba(255,255,255,.3), 0px -1px 0px rgba(0,0,0,.7);

.border-radius (@radius: 5px) {
  -webkit-border-radius: @radius;
  -moz-border-radius: @radius;
  border-radius: @radius;
}

.box-sizing(@type: border-box) {
  -webkit-box-sizing: @type;
  -moz-box-sizing: @type;
  box-sizing: @type;
}

.display-box {
  display: -webkit-box;
  display: -moz-box;
  display: -o-box;
  display: -ms-box;
  display: box;
}

.box-v-center { /* vertical align center */
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-box-align: center;
  box-align: center;
}

.box-h-center { /* horizontal align center */
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-box-pack: center;
  -o-box-pack: center;
  box-pack: center;
}