body {
  background-color: #2b2922;
  color: white;
  overflow: hidden;
}
body > header {
  z-index: 1000;
  margin-left: 20px;
  left: 0px;
  top: 0;
  padding: 10px;
  bottom: 0;
  color: white;
  background-color: #a32500;
  box-shadow: 0px 0px 10px #a32500;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
body > header h1 {
  font-family: 'Droid Sans';
  font-size: 2em;
}
body > header p {
  font-family: 'Droid Sans';
  font-size: 1em;
}
body ul li.active {
  background-color: #a32500;
}
.categories {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  overflow: hidden;
}
.categories .category {
  background-color: #efe4bd;
  margin-top: 10px;
  margin-left: 10px;
  width: 400px;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
}
.categories .category.active .articles {
  background-color: #a39770;
}
.categories .category > h2 {
  padding: 5px;
  font-size: 1.6em;
  margin-left: 5px;
  background-color: #a39770;
  color: white;
  display: inline;
}
.categories .category .articles {
  box-sizing: border-box;
  padding: 5px;
}
.categories .category .articles article header {
  position: relative;
}
.categories .category .articles article header h1 {
  font-size: 1.6em;
  position: absolute;
  padding: 5px;
  box-sizing: border-box;
  background-color: #bab293;
  color: white;
  bottom: 0;
  font-family: 'Allerta Stencil', Arial, serif;
  max-width: 80%;
  margin-bottom: 5px;
  right: 0;
}
.categories .category .articles article header h1 a {
  color: white;
  text-decoration: none;
}
.categories .category .articles article header img.thumbnail {
  width: 100%;
}
.categories .category .articles article header img.large {
  display: none;
}
.categories .category .articles article header .summary {
  -webkit-transition: opacity 0.3s ease-in-out;
  top: 0;
  position: absolute;
  padding: 5px;
  font-size: 1.0em;
  width: 100%;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  font-family: 'Droid Sans';
}
.categories .category .articles article header:hover .summary {
  opacity: 1;
}
.categories .category .articles article footer {
  display: none;
}
.categories .category .articles article.active {
  z-index: 1000;
  box-shadow: 0px 0px 10px white;
}
.categories .category .articles article.active section {
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 1;
  left: 50%;
  box-shadow: 0px 0px 10px black;
  margin: 10px 0 10px 0;
}
.categories .category .articles article.active section h1 {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  margin: 5px;
  padding: 5px;
  font-size: 2em;
  background-color: white;
}
.categories .category .articles article.active section .summary {
  display: none;
}
.categories .category .articles article.active section .large {
  display: block;
  width: 100%;
}
.categories .category .articles article.active section .story {
  padding: 5px;
  font-family: 'Droid Sans';
  font-size: 1em;
  line-height: 1.2em;
}
.categories .category .articles article.active section .story p {
  margin-bottom: 5px;
}
.categories .category .articles article section {
  z-index: 1000;
  opacity: 0;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  -webkit-transform-origin: top left;
  background-color: white;
  overflow: auto;
  color: black;
  top: 0px;
  position: fixed;
  left: 100%;
}
.categories .category .articles article section img.thumbnail {
  display: none;
}
