.display-box {
  display: -webkit-box;
  display: -moz-box;
  display: -o-box;
  display: -ms-box;
  display: box;
}
.box-v-center {
  /* vertical align center */

  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-box-align: center;
  box-align: center;
}
.box-h-center {
  /* horizontal align center */

  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-box-pack: center;
  -o-box-pack: center;
  box-pack: center;
}
/* REMOVE THESE MIXINS AND PUT IN base.less ***********************************/
.display-box {
  display: -webkit-box;
  display: -moz-box;
  display: -o-box;
  display: -ms-box;
  display: box;
}
.box-v-center {
  /* vertical align center */

  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-box-align: center;
  box-align: center;
}
.box-h-center {
  /* horizontal align center */

  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-box-pack: center;
  -o-box-pack: center;
  box-pack: center;
}
/* ************************************************************************** */
::-webkit-scrollbar {
  display: none;
}
.navbar {
  /*background: -webkit-linear-gradient(top, white, rgba(0, 50, 128, 0.7));*/

  /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1E5799), color-stop(50%,#2989D8), color-stop(51%,#207cca), color-stop(100%,#7db9e8));*/

  background: -webkit-gradient(linear, 0% 48%, 0% 47%, from(#990000), to(#9d2e2c)), #eeeeee;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
  width: 100%;
  min-height: 50px;
  font-family: 'Lato', 'Droid Sans';
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -moz-box;
  display: -o-box;
  display: -ms-box;
  display: box;
  display: -webkit-box;
  display: -moz-box;
  display: -o-box;
  display: -ms-box;
  display: box;
  z-index: 100;
  position: absolute;
}
body {
  font: 11pt normal 'Droid Sans', Arial;
  background: -webkit-linear-gradient(top, white, #999999);
  overflow: hidden;
}
body > header {
  /*background: -webkit-linear-gradient(top, white, rgba(0, 50, 128, 0.7));*/

  /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1E5799), color-stop(50%,#2989D8), color-stop(51%,#207cca), color-stop(100%,#7db9e8));*/

  background: -webkit-gradient(linear, 0% 48%, 0% 47%, from(#990000), to(#9d2e2c)), #eeeeee;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
  width: 100%;
  min-height: 50px;
  font-family: 'Lato', 'Droid Sans';
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -moz-box;
  display: -o-box;
  display: -ms-box;
  display: box;
  display: -webkit-box;
  display: -moz-box;
  display: -o-box;
  display: -ms-box;
  display: box;
  z-index: 100;
  position: absolute;
  top: 0;
}
body > header h1 {
  font-size: 18pt;
  font-weight: bold;
  color: white;
  text-shadow: 1px 1px 1px black;
  padding: 0 10px;
  display: -webkit-box;
  display: -moz-box;
  display: -o-box;
  display: -ms-box;
  display: box;
  display: -webkit-box;
  display: -moz-box;
  display: -o-box;
  display: -ms-box;
  display: box;
  /* vertical align center */

  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-box-align: center;
  box-align: center;
  /* vertical align center */

  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-box-align: center;
  box-align: center;
}
body > header p {
  font-size: 9pt;
  color: white;
  text-shadow: 1px 1px 0 black;
  padding: 0 10px;
  display: -webkit-box;
  display: -moz-box;
  display: -o-box;
  display: -ms-box;
  display: box;
  display: -webkit-box;
  display: -moz-box;
  display: -o-box;
  display: -ms-box;
  display: box;
  /* vertical align center */

  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-box-align: center;
  box-align: center;
  /* vertical align center */

  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-box-align: center;
  box-align: center;
  display: none;
}
body > header ul {
  border-left: 1px solid rgba(0, 0, 0, 0.3);
  border-right: 1px solid rgba(255, 255, 255, 0.3);
  display: -webkit-box;
  display: -moz-box;
  display: -o-box;
  display: -ms-box;
  display: box;
  display: -webkit-box;
  display: -moz-box;
  display: -o-box;
  display: -ms-box;
  display: box;
  /* vertical align center */

  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-box-align: center;
  box-align: center;
  /* vertical align center */

  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-box-align: center;
  box-align: center;
}
body > header ul .category {
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  line-height: 50px;
}
body > header ul .category.active {
  /*background: -webkit-gradient(radial, 50% bottom, 10, 50% bottom, 75, from(red), to(darkred));*/

  background: -webkit-gradient(radial, 50% 100%, 10, 50% 50%, 90, from(red), to(transparent));
  text-shadow: 0 2px 0 rgba(0, 0, 0, 0.8);
}
body > header ul .category a {
  color: white;
  /*text-transform: uppercase;
          font-weight: bold;*/

  text-decoration: none;
  padding: 0 12px;
  display: block;
}
body > header nav {
  display: -webkit-box;
  display: -moz-box;
  display: -o-box;
  display: -ms-box;
  display: box;
  display: -webkit-box;
  display: -moz-box;
  display: -o-box;
  display: -ms-box;
  display: box;
  -webkit-box-flex: 1;
  -webkit-box-pack: end;
}
body > footer {
  bottom: 0;
  /* horizontal align center */

  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-box-pack: center;
  -o-box-pack: center;
  box-pack: center;
  /* horizontal align center */

  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-box-pack: center;
  -o-box-pack: center;
  box-pack: center;
  /*background: -webkit-linear-gradient(top, white, rgba(0, 50, 128, 0.7));*/

  /*background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1E5799), color-stop(50%,#2989D8), color-stop(51%,#207cca), color-stop(100%,#7db9e8));*/

  background: -webkit-gradient(linear, 0% 48%, 0% 47%, from(#990000), to(#9d2e2c)), #eeeeee;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.5);
  width: 100%;
  min-height: 50px;
  font-family: 'Lato', 'Droid Sans';
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: -webkit-box;
  display: -moz-box;
  display: -o-box;
  display: -ms-box;
  display: box;
  display: -webkit-box;
  display: -moz-box;
  display: -o-box;
  display: -ms-box;
  display: box;
  z-index: 100;
  position: absolute;
  min-height: 35px;
  box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.5);
}
body > footer a {
  color: white;
  text-decoration: none;
  padding: 0 20px;
  display: -webkit-box;
  display: -moz-box;
  display: -o-box;
  display: -ms-box;
  display: box;
  display: -webkit-box;
  display: -moz-box;
  display: -o-box;
  display: -ms-box;
  display: box;
  /* vertical align center */

  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-box-align: center;
  box-align: center;
  /* vertical align center */

  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-box-align: center;
  box-align: center;
}
body > footer a:not(:last-of-type) {
  margin-right: 1em;
}
.categories {
  height: 100%;
  position: relative;
  overflow-y: auto;
  overflow-x: hidden;
  top: 50px;
}
.categories .category {
  padding: 1em;
}
.categoryState .categories .category:not(.active) {
  display: none;
}
.articleState .categories .category h2 {
  display: none;
}
.articleState .categories .category:not(.active) {
  display: none;
}
.articleState .categories .category.active {
  width: 300px;
  position: relative;
  overflow-y: auto;
  /*height: 100%;
      overflow-x: hidden;*/

}
.articleState .categories .category.active article:not(.active) {
  display: block;
}
.articleState .categories .category.active article:not(.active) img.thumbnail {
  max-width: 100%;
  min-height: inherit;
  min-width: 300px;
}
.articleState .categories .category.active article.active {
  height: 100%;
  width: 430px;
  overflow-y: auto;
  overflow-x: hidden;
  position: fixed;
  top: 50px;
  padding-top: 1em;
  -webkit-transform: translatex(312px);
}
article {
  color: #222;
  display: inline-block;
  margin-bottom: 10px;
}
article > header {
  position: relative;
}
article > header img.thumbnail {
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  min-height: 276px;
  max-height: 276px;
  min-width: 460px;
}
article > header img.thumbnail.hi-res {
  position: absolute;
  opacity: 0;
  -webkit-transition: opacity 1s linear;
}
article > header img.thumbnail.fadein {
  opacity: 1;
}
article > header h1 a {
  position: absolute;
  z-index: 2;
  /* prevent title flicker */

  color: white;
  font-size: 14pt;
  font-family: 'Lato', 'Droid Sans';
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  padding: 5px 7px;
  /*background: -webkit-linear-gradient(top, rgba(255,255,255,0.4), transparent);*/

  background: rgba(255, 255, 255, 0.3);
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.5) inset;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  text-shadow: 1px 1px 1px black;
  text-decoration: none;
}
article > header .summary {
  font-size: 10pt;
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  overflow: hidden;
  padding: 5px 7px;
  color: white;
  width: 100%;
  height: 55px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  -webkit-border-radius: 7px;
  -moz-border-radius: 7px;
  border-radius: 7px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
article > section {
  display: none;
}
article > footer {
  display: none;
}
article.active {
  /*-webkit-transform: rotate3d(0,1,0,180deg);*/

}
article.active > header {
  display: none;
}
article.active > section {
  /*-webkit-transform: rotate3d(0,1,0,-180deg);*/

  display: block;
}
article.active > section h1 {
  position: relative;
  box-shadow: none;
  padding: 0;
  margin-bottom: 0.5em;
}
article.active > section img.thumbnail {
  display: none;
}
article.active > section .story {
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.8);
  text-align: justify;
}
article.active > section .story p {
  margin-bottom: 10px;
}
