{{#articles}}
<article id="{{id}}" data-article="{{id}}" data-category="{{categoryId}}">
  <header>
    <h1><a href="/reader/{{id}}">{{title}}</a></h1>
    <p><time pubdate time="{{puddate}}"></time></p> 
    <img class="thumbnail" src="{{thumbnail}}" src-hi="{{largeImage}}" />
    <div class="summary">{{{shortDescription}}}</div>
  </header>
  <section>
    <h1>{{title}}</h1>
    <p><time pubdate time="{{puddate}}"></time></p> 
    <div class="summary">{{{shortDescription}}}</div>
    <img class="large" src="{{largeImage}}" src-lo="{{thumbnail}}" />
    <div class="story">{{{body}}}</div>
  </section>
  <footer>
    <a href="{{url}}">Link</a>
  </footer>
</article>
{{/articles}}

