<html class="storyState">
  <head>
    <script src="/lib/jquery-1.5.min.js"></script>
    <script src="/lib/formfactor.js"></script>
    <script src="/lib/routes.js"></script>
    <script src="/scripts/index.js"></script>
    <script src="/scripts/controller.js"></script>
    <script src="/scripts/uis.js"></script>
    <title>{{#category}}{{name}} &mdash; {{description}}{{/category}}</title>
    <link rel="stylesheet" href="/css/reset.css" />
  </head>
  <body>
    <header>
      <h1>{{name}}</h1>
      <p>{{description}}</p>
      <nav>
        <ul>
        {{#categories}}
        <li class="category {{state}}" data-category="{{id}}"><a href="/reader/{{id}}">{{name}}</a></li>
        {{/categories}}
        </ul>
      </nav>
    </header>

    <div class="categories">
      {{#categories}}
      <section class="category {{state}}" data-category="{{id}}" id="{{id}}">
        <h2>{{name}}</h2>
        <div class="articles">
        {{#articles}}
        <article id="{{id}}" data-article="{{id}}" data-category="{{categoryId}}">
          <header>
            <h1>{{title}}</h1>
            <p><time pubdate time="{{puddate}}"></time></p> 
            <img class="thumbnail" src="{{thumbnail}}" />
            <div class="summary">{{{shortDescription}}}</div>
          </header>
          <section>
            <h1>{{title}}</h1>
            <p><time pubdate time="{{puddate}}"></time></p> 
            <div class="summary">{{{shortDescription}}}</div>
            <img class="large" src="{{largeImage}}" />
            <div class="story"></div>
          </section>
          <footer>
          </footer>
        </article>
        {{/articles}}
        </div>
      </section>
      {{/categories}}
    </div>
  </body>
  <script src="/lib/excss.js"></script>
</html>
