<html class="{{state}}State" manifest="/app.cache">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="chrome=1" />
    <title>{{#configuration}}{{name}} &mdash; {{description}}{{/configuration}}</title>
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lato|Droid+Sans" />
    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="apple-touch-icon" href="/images/icon.png"/>
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
    <link rel="apple-touch-startup-image" href="/images/splash.png" />
    <meta name="viewport" content="width=device-width, target-densitydpi=160dpi,
      minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <script src="/lib/jquery-1.5.2.min.js"></script>
    <script src="/lib/formfactor.js"></script>
    <script src="/lib/routes.js"></script>
    <script src="/scripts/controller.js"></script>
    <script src="/scripts/uis.js"></script>
  </head>
  <body>
    <header>
      <h1>{{#configuration}}{{name}}{{/configuration}}</h1>
      <p>{{#configuration}}{{description}}{{/configuration}}</p>
      <nav>
        <ul>
        {{#categories}}
        <li class="category" data-category="{{id}}" name={{id}}><a href="/reader/{{id}}#{{id}}">{{name}}</a></li>
        {{/categories}}
        </ul>
      </nav>
    </header>
    <div class="categories" style="">
     {{> category}}
    </div>
    <footer id="formfactors">
    </footer>
    <script src="/lib/mustache.js"></script>
 </body>
</html>
