<html class="menuState">
  <head>
    <script src="/lib/jquery-1.5.min.js"></script>
    <script src="/lib/less.js"></script>
    <script src="/lib/formfactor.js"></script>
    <script src="/scripts/routes.js"></script>
    <script src="/scripts/index.js"></script>
    <link rel="stylesheet" href="/css/reset.css" />
  </head>

  <body>
    <header>
      <h1>News Reader</h1>
      <p>An ace news reader</p>
    </header>
    
    <div class="categories">
      {{#categories}}
      <section class="category" id="{{id}}">
      <h2>{{name}}</h2>
      {{#articles}}
        <article id="{{id}}">
          <h3>{{title}}</h3>
          <img class="thumbnail" src="{{thumbnail}}" />
          <div class="story"></div>
        </article>
      {{/articles}}
      </section>
      {{/categories}}
    </div>
  </body>
</html>
