<html class="menuState">
  <head>
    <script src="/lib/jquery-1.5.min.js"></script>
    <script src="/scripts/routes.js"></script>
    <script src="/scripts/index.js"></script>

    <link rel="stylesheet" href="/css/reset.css" />
    <link rel="stylesheet" href="/css/desktop.css" />
  </head>

  <body>
    
    <div class="menu">
      <h1>Categories</h1>
      <ul>
        {{#categories}}
        <li><a dlc="category" href="/{{url}}">{{name}}</a></li>
        {{/categories}}
      </ul>
    </div>

    <div class="categories">
     {{#categories}}
      <div class="category" id="{{id}}">
        <h1>{{name}}</h1>
        <ul>
          {{#articles}}
          <li><a dlc="story" href="/{{url}}"><img src="{{thumbnail}}" /><span>{{title}}</span></a></li>
          {{/articles}}
        </ul>
      </div>
      {{/categories}}
    </div>

  </body>
</html>
